Data/similarity_matrix.pkl
__pycache__/
*.pyc
**/*.pyc
**.pkl
**.pth
**.npy
__pycache__/*.pyc
__pycache__/character_coder.cpython-310.pyc
__pycache__/data_processing.cpython-310.pyc
__pycache__/similarity_matrix.cpython-310.pyc